.nyc_output
coverage
build
release
# dist
node_modules
prebuild

npm-debug.log
yarn-error.log

# Eth2.0 spec tests data
spec-tests

# Fuzz Test Meta
fuzz-tests

# benchmark_data

# chainsafe-blst-*.tgz