.nyc_output
coverage
build
dist
node_modules
prebuild/swig/*.node
prebuild/emscripten/blst.wasm
prebuild/emscripten/blst.js
prebuild/emscripten/blst.wasm.js

npm-debug.log
yarn-error.log

# Eth2.0 spec tests data
spec-tests
